@charset "UTF-8";
/* CSS Document */

html, body
{
	height: 100%;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-right: 30px;
	text-align: center;
	
}

.rauwkost
{
	border: 5px solid red;
	width: 100%;
	height: 100%;
	flex-direction: column;
	flex-flow: 	row wrap;
	
	
}

.rauwlogo
{
	width: 70%; 
	margin: 0px;
	border: 5px solid green;
	position: absolute;


	
}

img
{
	width: 100%;
}

p
{
	
	text-align: center;
}

.rauwtekst
{
	width: 70%; 
	margin: 0px;
	border: 5px solid blue;
	display: flex;
	justify-content: center;
}

.demo
{
	text-decoration: none;
	font-size: 40pt;
}