@charset "UTF-8";
/* CSS Document */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rauwkost {
  height: 100%;
  display: flex;
  flex-direction: column; /* dit zet de elementen onder elkaar */
  align-items: center; /* horizontaal centreren */
}

.rauwlogo {
  border: 5px solid green;
  width: 70%;
}

.rauwlogo img {
  width: 100%;
}

.rauwtekst {
  width: 70%;
  margin: 0px;
  border: 5px solid blue;
}

.rauwtekst p {
  text-align: center;
  font-family: "lato";
  font-size: 17pt;
  margin-bottom: 10px;
  margin-top: 10px;
}

.rauwtekst #demo {
  text-decoration: none;
  font-size: 40pt;
  font-family: "lato";
  margin-top: 10px;
  margin-bottom: 10px;
}

.rauwtekst #rauwtext {
	font-size: 14pt;
}